</div>
   <div class="footer">
       <div class="row">
           <div class="col-md-6">
               <p>&copy; Copyright 2021 Laksh</p>
           </div>
           <div class="col-md-6">
    
               <a href="https://github.com/lakshv06" target="_blank">
                   <i class="fab fa-github"></i>
               </a>
               <a href="https://www.linkedin.com/in/lakshya-verma-492a51174/" target="_blank">
                   <i class="fab fa-linkedin"></i>
               </a>
               <a href = "mailto: lakshvma@gmail.com">
                   <i class="fas fa-envelope"></i>
                </a>
           </div>
       </div>

   </div>
 
   </body>

   </html>