<%- include("partials/header"); -%>



<div class="main">
    <div class="left">
        <div class="image-div">
            <img src="/images/Transactions.png" alt="People">
        </div>
    </div>
    <div class="right">
        
            <div class="text-div">
                <div class="text">
                <h1>LC-Fund</h1>
                <p>Double up your Money😉</p>
            </div>
            </div>
            <div class="button-div">
            <a role="button" class=" btn btn-outline-warning btn-lg col-6 " href="./customers">Let's Go</a>
        </div>
    </div>
</div>

<%- include("partials/footer"); -%>

